{% extends "html.twig" %}

{% block content %}
<h1>Administration</h1>
<ul id="breadcrump">
  <li><a href="{{ url_for('home') }}">{{ lang['home'] }}</a></li>
  <li><a href="{{ url_for('admin-home') }}">{{ lang['administration_title'] }}</a></li>
  <li>{{ lang['administration_pages_title'] }}</li>
</ul>

<div id="middle">
  {% if newsEdit != null %}
    <h2>{{ lang['administration_edit_pages_title'] }}</h2>
  {% else %}
    <h2>{{ lang['administration_add_pages_title'] }}</h2>
  {% endif %}

    <center>
      <form method="post">
      <input name ="pName" type="text" placeholder="{{ lang['administration_page_title_placeholder'] }}" value="{{ pageEdit.name }}"></input>
      <input name ="pSlug" type="text" placeholder="{{ lang['administration_page_slug_placeholder'] }}" value="{{ pageEdit.unique_slug }}"></input>
      <select name="pCat">
            <option value="game" {% if (pageEdit.category == "game") %}selected{% endif %}>{{ lang['administration_page_cat_game'] }}</option>
            <option value="wiki" {% if (pageEdit.category == "wiki") %}selected{% endif %}>{{ lang['administration_page_cat_wiki'] }}</option>
      </select>
      <textarea name ="pContent" id="editor" class="editor" style="height:600px;">{{ pageEdit.content }}</textarea>
      <br />
      <button style="padding: 15px 90px!important;" class="customBTN" type="sumbit">{{ lang['button_submit_title'] }}</button>
      </form>
    </center>

    <h2>{{ lang['administration_page_list_title'] }}</h2>
    <table class="ladder">
        <thead>
            <tr>
                <th class="c">{{ lang['administration_pages_column_title'] }}</th>
                <th class="c">{{ lang['administration_pages_column_slug'] }}</th>
                <th class="c">{{ lang['administration_pages_column_category'] }}</th>
                <th class="c">{{ lang['administration_pages_column_options'] }}</th>
            </tr>
        </thead>
        <tbody>
          {% for page in pages %}
          <tr>
          <td class="c">{{ page.name }}</td>
          <td class="c">{{ page.unique_slug }}</td>
          <td class="c">{{ page.category }}</td>
          <td class="c"><a href="{{ url_for('admin-edit-pages', { 'id': page.id }) }}">{{ lang['administration_item_options_edit'] }}</a> - <a href="{{ url_for('admin-delete-pages', { 'id': page.id }) }}">{{ lang['administration_item_options_delete'] }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}

{% block footerjs %}
<script
    type="text/javascript"
    src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js'
    referrerpolicy="origin">
  </script>
  <script type="text/javascript">
  tinymce.init({
    selector:'textarea',
    language: '{{ lang['administration_tinymce_lang'] }}',
    plugins: [
      'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help autoresize autosave'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | restoredraft help',
    menu: {
      favs: {title: '{{ lang['administration_tinymce_fav'] }}', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
    },
    a11y_advanced_options: true,
    image_advtab: true,
    image_title: true,
    autoresize_bottom_margin: 50,
    autosave_ask_before_unload: false,
    style_formats: [
      {title: 'Image Left', selector: 'img', styles: {
        'float' : 'left',
        'margin': '0 10px 0 10px'
      }},
      {title: 'Image Right', selector: 'img', styles: {
        'float' : 'right',
        'margin': '0 10px 0 10px'
      }}
    ],
    menubar: 'favs file edit view insert format tools table help'
  });
  </script>
{% endblock %}
